[submodule "mathcomp"]
	path = mathcomp
	url = git@github.com:jscoq/addon-mathcomp
	branch = mathcomp-1.12.0
[submodule "mathcomp-extra"]
	path = mathcomp-extra
	url = git@github.com:jscoq/addon-mathcomp-extra.git
    branch = v8.14
[submodule "elpi"]
	path = elpi
    url = git@github.com:jscoq/addon-elpi.git
    branch = elpi-1.11.2-8.14
[submodule "equations"]
	path = equations
    url = git@github.com:jscoq/addon-equations.git
    branch = equations-1.2.4-8.14
[submodule "extlib"]
	path = extlib
    url = git@github.com:jscoq/addon-extlib.git
    branch = master
[submodule "simpleio"]
	path = simpleio
    url = git@github.com:jscoq/addon-simpleio.git
    branch = simpleio-1.5.0-8.14
[submodule "quickchick"]
	path = quickchick
    url = git@github.com:jscoq/addon-quickchick.git
    branch = quickchick-1.5.1-8.14
[submodule "software-foundations"]
	path = software-foundations
    url = git@github.com:jscoq/addon-software-foundations
    branch = master
[submodule "hahn"]
	path = hahn
    url = git@github.com:jscoq/addon-hahn.git
    branch = master
[submodule "paco"]
	path = paco
	url = git@github.com:jscoq/addon-paco.git
    branch = paco-4.1.1-8.14
[submodule "snu-sflib"]
	path = snu-sflib
    url = git@github.com:jscoq/addon-snu-sflib.git
    branch = master
[submodule "promising"]
	path = promising
    url = git@github.com:jscoq/addon-promising.git
    branch = 8.14
[submodule "htt"]
	path = htt
    url = git@github.com:jscoq/addon-htt.git
    branch = main
[submodule "fcsl-pcm"]
	path = fcsl-pcm
	url = git@github.com:jscoq/addon-fcsl-pcm.git
    branch = main
[submodule "pnp"]
	path = pnp
	url = git@github.com:jscoq/addon-pnp.git
    branch = main
[submodule "coqoban"]
	path = coqoban
	url = git@github.com:jscoq/addon-coqoban.git
	branch = v8.14
