[submodule "mathcomp"]
	path = mathcomp
	url = git@github.com:jscoq/addon-mathcomp
	branch = mathcomp-1.10.0
[submodule "elpi"]
	path = elpi
	url = git@github.com:jscoq/addon-elpi.git
[submodule "equations"]
	path = equations
	url = git@github.com:jscoq/addon-equations.git
[submodule "extlib"]
	path = extlib
	url = git@github.com:jscoq/addon-extlib.git
[submodule "simpleio"]
	path = simpleio
	url = git@github.com:jscoq/addon-simpleio.git
[submodule "quickchick"]
	path = quickchick
	url = git@github.com:jscoq/addon-quickchick.git
[submodule "software-foundations"]
	path = software-foundations
	url = git@github.com:jscoq/addon-software-foundations
[submodule "hahn"]
	path = hahn
	url = git@github.com:jscoq/addon-hahn.git
[submodule "paco"]
	path = paco
	url = git@github.com:jscoq/addon-paco.git
